body {
  color: #555;
}

.section_title {
  margin: 80px auto;
  font-size: 40px;
  text-align: center;
}
.section_title p {
  display: inline-block;
  padding: 0 50px;
  position: relative;
  z-index: 1;
}
.section_title p::before {
  content: '';
  display: block;
  width: 100%;
  height: 11px;
  border-radius: 3px;
  background-color: #b6f9ee;
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  z-index: -1;
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  color: #555;
}

.section_title {
  margin: 80px auto;
  font-size: 40px;
  text-align: center;
}
.section_title p {
  display: inline-block;
  padding: 0 50px;
  position: relative;
  z-index: 1;
}
.section_title p::before {
  content: '';
  display: block;
  width: 100%;
  height: 11px;
  border-radius: 3px;
  background-color: #b6f9ee;
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  z-index: -1;
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
}

.h_btn a, .header .header_wrap .h_nav ul li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0px 12px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 1;
}
.h_btn a::before, .header .header_wrap .h_nav ul li a::before {
  content: "";
  display: block;
  width: 100%;
  height: 200%;
  background-color: #555;
  border-radius: 100% 100% 0 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  z-index: -1;
}
.h_btn a:hover, .header .header_wrap .h_nav ul li a:hover, .h_btn a.active, .header .header_wrap .h_nav ul li a.active {
  color: white;
}
.h_btn a:hover::before, .header .header_wrap .h_nav ul li a:hover::before, .h_btn a.active::before, .header .header_wrap .h_nav ul li a.active::before {
  top: -100%;
}
.h_btn a:active, .header .header_wrap .h_nav ul li a:active {
  opacity: 0.7;
}

@keyframes circle_anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle1, .circle3, .circle5 {
  animation: circle_anime 20s linear infinite reverse;
}

.circle2, .circle4, .circle6 {
  animation: circle_anime 30s linear infinite;
}

body {
  font-family: "Merriweather", "Sawarabi Gothic", "Noto Sans JP", "Source Sans Pro", sans-serif, serif;
}

.header {
  background-color: #e2faf6;
  border-bottom: 4px solid #b6f9ee;
}
.header .header_wrap {
  height: 50px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.header .header_wrap .h_title a {
  display: flex;
  align-items: center;
  font-size: 35px;
  height: 100%;
  transition: 0.3s;
}
.header .header_wrap .h_title a:hover {
  opacity: 0.7;
}
.header .header_wrap .h_title a .icon {
  height: 40px;
}
.header .header_wrap .h_title a h1 {
  margin-left: 15px;
  font-family: "Merriweather", "Sawarabi Gothic", "Noto Sans JP", "Source Sans Pro", sans-serif, serif;
  font-style: italic;
}
.header .header_wrap .h_nav ul {
  display: flex;
  align-items: center;
  gap: 0.5px;
  justify-content: space-around;
}
.header .header_wrap .h_nav ul li {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

.footer {
  position: relative;
  margin-top: min(110px, 6vw);
}
.footer .circle_wrap {
  width: 40vw;
  height: 25vw;
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  right: 0vw;
  top: -25vw;
  overflow: hidden;
}
.footer .circle_wrap .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  opacity: .7;
}
.footer .circle_wrap .circle1 {
  width: 60vw;
  height: 60vw;
  border-top: 0.6666666667vw solid #999;
  border-left: 0.6666666667vw solid #999;
  position: absolute;
}
.footer .circle_wrap .circle1 .circle2 {
  width: 57.6666666667vw;
  height: 57.6666666667vw;
  border-right: 1.5vw solid #222;
  border-left: 1.5vw solid #222;
}
.footer .circle_wrap .circle1 .circle2 .circle3 {
  width: 53.6666666667vw;
  height: 53.6666666667vw;
  border-left: 0.5vw solid #555;
  border-top: 0.5vw solid #555;
  border-bottom: 0.5vw solid #555;
}
.footer .circle_wrap .circle1 .circle2 .circle3 .circle4 {
  width: 50.6666666667vw;
  height: 50.6666666667vw;
  border-top: 1vw solid #777;
  border-right: 1vw solid #777;
  border-bottom: 1vw solid #777;
}
.footer .circle_wrap .circle1 .circle2 .circle3 .circle4 .circle5 {
  width: 46.3333333333vw;
  height: 46.3333333333vw;
  border-left: 2vw solid #333;
  border-bottom: 2vw solid #333;
}
.footer .circle_wrap .circle1 .circle2 .circle3 .circle4 .circle5 .circle6 {
  width: 41vw;
  height: 41vw;
  border-top: 0.6vw solid #666;
  border-right: 0.6vw solid #666;
  border-bottom: 0.6vw solid #666;
}
.footer .copylight {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: #555;
}

/*# sourceMappingURL=contact_page.css.map */
