// ヘッダーボタンとそのアニメ(transform)
.h_btn {
    a {
        display: block;
        height: $h_btn_height;
        line-height: $h_btn_height;
        padding: 0px 12px;
        position: relative;
        transition: all $h_btn_transition;
        overflow: hidden;
        z-index: 1;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 200%;
            background-color: $second_bgcolor;
            border-radius: 100% 100% 0 0;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            transition: all $h_btn_transition;
            z-index: -1;
        }
        &:hover,
        &.active {
            color: $second_color;
        }
        &:hover::before,
        &.active::before {
            top: -100%;
        }
        &:active {
            opacity: $action_opa;
        }
    }
}

// サークルアニメーション
@keyframes circle_anime {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.circle1,
.circle3,
.circle5 {
    animation: circle_anime 20s linear infinite reverse;
}
.circle2,
.circle4,
.circle6 {
    animation: circle_anime 30s linear infinite;
}

// ボタンアニメ(transform)
@keyframes btn_anime {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: .5;
    }
    95% {
        transform: translate(-50%, -50%) scale(1);
        opacity: .5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}
.btn_anime_inout {
    @extend .btn;
    position: relative;
    overflow: hidden;
    &::before,
    &::after {
        content: "";
        display: block;
        width: $btn_w1 + 20px;
        height: $btn_w1 + 20px;
        border-radius: 50%;
        background-color: $point_color1;
        box-shadow: inset 0 0 $btn_w1/2 5px white, inset 0 0 $btn_w1/4 1px white, inset 0 0 $btn_w1/8 0px white;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%);
    }
    &:active{
        &::before,
        &::after {
            animation: btn_anime .3s ease-in-out;
            // animation-iteration-count: 2;
        }
        &::after {
            animation-delay: .12s;
        }
    }
}
