// ブレークポイント
$middle: 1024px;
$small: 768px;

@mixin middle {
    @media (max-width: ($middle)) {
        @content;
    }
}

@mixin small {
    @media (max-width: ($small)) {
        @content;
    }
}

// フォントサイズ
$h1_fs: 35px;
$h2_fs: 40px;

$fs_l: 25px;
$fs_m: 20px;
$fs_s: 15px;

// フォント種類
$font1: "Merriweather",
        "Sawarabi Gothic",
        "Noto Sans JP",
        "Source Sans Pro",
        sans-serif,
        serif;

// スライダーボタン
$s_btn_size: 30px;



// 幅・高さ
$swrap_max_w: 1100px;

$action_opa: .7;
$normail_transition: .3s;

// スペース
$space_150: 150px;
$space_100: 100px;
$space_80: 80px;
$space_50: 50px;

// 背景色と文字色
$main_bgcolor: rgba(226, 250, 246, .7);
$main_color: #555;

$second_bgcolor: #555;
$second_color: white;

$third_bgcolor: #ddd;

$forth_bgcolor: rgba(136, 188, 179, .85);
$forth_color: #f0fcfa;

// ポイントカラー
$point_color1: #b6f9ee;
$point_color2: #e2faf6;
$point_color3: #88bcb3;
$point_color4: #adeae0;
$point_color5: #ee8383;
$point_color6: rgba(226, 250, 246, .4);
$point_color7: #38524d;
$point_color8: rgba(226, 250, 246, .7);
$point_color9: #f7f9b6;

$h_btn_height: 50px;
$h_btn_fs: 20px;
$h_btn_transition: .5s;

// サークル用
$c_wrap: 35vw;     // circle_wrapのサイズ
$c_size: 60vw;    // 一番大きい円のサイズ
$c_line_w: 3vw;     // ライン幅の基準
$c_space_w: 5vw;    // スペース
$c_line_w1: $c_line_w/4.5;
$c_line_w2: $c_line_w/2;
$c_line_w3: $c_line_w/6;
$c_line_w4: $c_line_w/3;
$c_line_w5: $c_line_w/1.5;
$c_line_w6: $c_line_w/5;
// ライン幅の合計値（外側から）
$c_tline_w1: $c_line_w1 + $c_space_w/3;
$c_tline_w2: $c_tline_w1 + $c_line_w2 + $c_space_w/2;
$c_tline_w3: $c_tline_w2 + $c_line_w3 + $c_space_w/2;
$c_tline_w4: $c_tline_w3 + $c_line_w4 + $c_space_w/1.5;
$c_tline_w5: $c_tline_w4 + $c_line_w5 + $c_space_w/1.5;
// $c_tline_w6: $c_tline_w5 + $c_line_w6 +$c_space_w/5;
// ラインの色
$c_color_1: #999;
$c_color_2: #222;
$c_color_3: #555;
$c_color_4: #777;
$c_color_5: #333;
$c_color_6: #666;

// ボタン
$btn_w1: 130px;
$btn_h1: 50px;





// 共通パーツ
body {
    color: $main_color;
}
// h2タイトル
.section_title {
    margin: $space_80 auto;
    font-size: $h2_fs;
    text-align: center;

    p {
        display: inline-block;
        padding: 0 50px;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 11px;
            border-radius: 3px;
            background-color: $point_color9;
            position: absolute;
            left: 50%;
            bottom: -6px;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}
.section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.wrap {
    max-width: $swrap_max_w;
    margin: 0 auto;
}
.btn {
    display: block;
    width: $btn_w1;
    height: $btn_h1;
    line-height: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: $fs_m;
    text-align: center;
    user-select: none;
    &:hover {
        opacity: .8;
    }
    &:active {
        transform: translateY(-1px);
    }
}
.btn1 {
    margin: $space_50 10px;
    box-shadow: 0 0 8px 0 $point_color3;
    background-color: $point_color1;
    transition: opacity .3s;
    text-shadow: -0.5px -0.5px 2px white,
            0.5px 0.5px 2px $point_color3;
    &:active {
        box-shadow: 0 0 3px 0 $point_color3;
    }
}




// // Moreボタン ボツ
// .more_btn {
//     display: block;
//     width: 130px;
//     height: 50px;
//     line-height: 30px;
//     margin: 0 auto $space_50;
//     padding: 10px 20px;
//     box-shadow: 0 2px 1px 1.5px #88bcb3, inset 0 0 1px 0.5px #f4f9f8, inset 0 0 4px 2px #adeae0, inset 0 0 2px #88bcb3, inset 0 0 0.5px 1px #38524d;
//     border-radius: 5px;
//     font-size: $fs_m;
//     text-align: center;
//     background-color: $point_color1;
//     transition: opacity .3s;

//     &:hover {
//         opacity: .8;
//     }

//     &:active {
//         box-shadow: 0 1px 0.5px 1px #88bcb3, inset 0 0 1px 0.5px #f4f9f8, inset 0 0 4px 2px #adeae0, inset 0 0 0.5px 1px #38524d;
//         transform: translateY(-1px);
//     }

//     text-shadow: -0.5px -0.5px 2px white,
//     0.5px 0.5px 2px #5a837c;
// }
