@import "header";
@import "footer";

.section {
    padding-bottom: min(20vw, 300px);
    @include small {
        padding-bottom: min(35vw, 500px);
    }
}
.blogs{
    padding: 0 2em;
    .author {
        display: flex;
        justify-content: right;
        align-items: baseline;
        @include small {
            display: block;
            text-align: right;
        }
        a {
            margin-left: 1em;
            padding: 0.5em;
            border-radius: 3px;
            display: inline-block;
            background-color: #555;
            color:#ddd;
            opacity: .6;
            cursor: pointer;
            -o-transition: .3s all;
            -moz-transition: .3s all;
            -webkit-transition: .3s all;
            transition: .3s all;
            &:hover {
                opacity: 0.8;
            }
            @include small {
                margin-left: .2em;
            }
        }
    }
    .blog {
        max-width: 1000px;
        margin:50px auto 90px;
        @include small {
            margin: 50px auto 80px;
        }
        .blog_wrap {
            margin: 0 35px;
            @include small {
                margin: 0 10px;
            }
        }
        .blog_title {
            margin-bottom: 1em;
            border-bottom: 2px solid #b6f9ee;
            font-size: 30px;
            @include small {
                font-size: $fs_l;
            }
        }
        .blog_img {
            max-width: 40%;
            @include small {
                width: 55%;
                max-width: 400px;
                margin: 0 auto;
            }
            img {
                width: 100%;
            }
        }
        .blog_content {
            margin: 1.5em auto 2.5em;
            font-size: 18px;
            @include small {
                margin: 1.2em auto 2em;
                line-height: 1.3em;
                font-size: $fs_s;
            }
        }
        .blog_etc {
            display: flex;
            justify-content: space-between;
            .auth_btn {
                margin-left: 1em;
                color: #7daea6;
                -o-transition: .3s all;
                -moz-transition: .3s all;
                -webkit-transition: .3s all;
                transition: .3s all;
                cursor: pointer;
                &:hover {
                    opacity: .7;
                }
            }
        }

    }
}

// ページナビ
.pagenate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    font-size: $fs_m;
    color: #777;
    @include small {
        font-size: $fs_s + 1;
    }
    .current_btn,
    .page_btn,
    .page_arrow {
        width: 1.5em;
        height: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -o-transition: .3s all;
        -moz-transition: .3s all;
        -webkit-transition: .3s all;
        transition: .3s all;
    }
    .page_arrow {
        border: 1px solid #777;
    }
    .current_btn,
    .page_btn:hover,
    .page_arrow:hover {
        color: #eee;
        background-color: #777;
    }
    .page_btn:active,
    .page_arrow:active {
        opacity: .8;
    }
}
