@import "header";
@import "footer";

.form_wrap {
    width: 50vw;
    min-width: 485px;
    margin: 50px 0;
    position: absolute !important;
    top: 0;
    -o-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    @include small {
        width: 90vw;
        min-width: auto;
    }
    .form {
        font-size: 18px;
        @include small {
            font-size: $fs_s + 1;
        }
    }
    .btns {
        display: flex;
        justify-content: center;
        gap: 2em;
    }
}

.form_welcome {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    @include small {
        margin-bottom: 1em;
    }
    p {
        font-size: $fs_m;
        @include small {
            font-size: $fs_m - 2;
        }
    }
    a {
        font-size: $fs_m - 2;
        color: #75a29a;
        @include small {
            font-size: $fs_m -4;
        }
    }
}

.form {
    .title p {
        margin-bottom: 1.5em;
        font-size: 30px;
        @include small {
            margin-bottom: .8em;
            font-size: $fs_l;
        }
    }
    .preview img {
        width: 60%;
        margin: 0 0 1.5em;
        @include small {
            width: 80%;
        }
    }
    .text,
    .create_time {
        margin-bottom: 1.5em;
    }
}
