@import "header";
@import "footer";

.form_wrap {
    background-color: rgba(226, 250, 246, .6);
    max-width: 1000px;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 0 8px 0 #88bcb3;
    position: fixed;
    left: 50%;
    top: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include small {
        min-width: 60vw;
        padding: 30px 20px;
    }
    .form_title {
        margin: 0.5em 0 1.5em;
        font-size: 30px;
        text-align: center;
    }
    .logout {
        text-align: right;
    }
    .form {
        font-size: 18px;
        @include small {
            font-size: $fs_s + 1;
        }
        .input {
            margin: 1em 0;
            label {
                display: block;
                margin-bottom: 5px;
            }
            input,
            textarea {
                width: 100%;
                padding: .5em 1em;
                border-radius: 6px;
                background-color: rgba(255, 255, 255, .6);
                box-shadow: inset 0 0 8px 0 #88bcb3;
            }
        }
        .btns {
            display: flex;
            justify-content: center;
            .btn{
                width: 120px;
                height: 2.5em;
                line-height: 2.5em;
                margin: 20px 10px 40px;
                padding: 0;
                border-radius: 25px;
                background-color: rgba(226, 250, 246, 0.7) !important;
                @include small{
                    width: 88px;
                    margin: 15px 7px 30px;
                }
                &:hover {
                    background-color: #fff;
                }
            }
        }
        .h_btn {
            input {
                width: 100%;
                height: 100%;
            }
            &::before,
            &::after {
                    background-color: rgba(226, 250, 246, 0.7) !important;
                    box-shadow: inset 0 0 65px 5px #b6f9ee, inset 0 0 32.5px 1px #b6f9ee, inset 0 0 16.25px 0px #b6f9ee;
                    z-index: -1;
                }
        }
    }

}
