@import "header";
@import "footer";

.cube {
    width: 32%;
    box-sizing: border-box;
}
.cube_img {
    width: 100%;
}
.section {
    padding-top: 80px;
    padding-bottom: 80px;
}


// Moreボタン
.more_btn {
    display: block;
    width: 130px;
    height: 50px;
    line-height: 30px;
    margin: 0 auto $space_50;
    padding: 10px 20px;
    box-shadow: 0 2px 1px 1.5px #88bcb3, inset 0 0 1px 0.5px #f4f9f8, inset 0 0 4px 2px #adeae0, inset 0 0 2px #88bcb3, inset 0 0 0.5px 1px #38524d;
    border-radius: 5px;
    font-size: $fs_m;
    text-align: center;
    background-color: $point_color1;
    transition: opacity .3s;
    &:hover {
        opacity: .8;
    }
    &:active {
        box-shadow: 0 1px 0.5px 1px #88bcb3, inset 0 0 1px 0.5px #f4f9f8, inset 0 0 4px 2px #adeae0, inset 0 0 0.5px 1px #38524d;
        transform: translateY(-1px);
    }
    text-shadow: -0.5px -0.5px 2px white, 0.5px 0.5px 2px #5a837c;
}


.main {
    // about
    .home_about {
        .home_about_wrap {
            .h_about {
                margin-bottom: $space_80;
                display: flex;
                justify-content: center;
                gap: 5%;
                .h_img {
                    width: 25%;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        border: 3px solid $point_color4;
                        position: absolute;
                        bottom: -22px;
                        z-index: -1;
                    }
                    img {
                        width: 100%;
                    }
                    &.h_img1{
                        box-shadow: -1px -0.5px 5px 0.5px $point_color3;
                        &::before{
                            left: -25px;
                        }
                    }
                    &.h_img2 {
                        box-shadow: 1px 0.5px 5px 0.5px $point_color3;
                        &::before {
                            right: -25px;
                        }
                    }
                }
                p {
                    width: 50%;
                    font-size: $fs_m;
                }
            }
            .h_about2 {
                flex-direction: row-reverse;
            }

        }
    }

    // works
    .home_works {
        background-image: url(../img/back4.png);
        // background-color: $third_bgcolor;
        .home_work_items {
            margin: 0 auto $space_50;
            padding: 10px 50px;
            display: flex;
            flex-wrap: wrap;
            .home_work_item {
                width: 32%;
                margin-bottom: min(24px, 2vw);
                &:nth-child(3n),
                &:nth-child(3n-1) {
                    margin-left: 2%;
                }
            }
        }
    }


    // blog
    .home_blog {
        .home_blog_wrap {
            .home_blog {
                margin: 0 auto $space_150;
                position: relative;
                // スライダーボタン
                .slick-arrow{
                    position: absolute;
                    z-index: 1;
                    &.slick-prev {
                        left: 3px;
                    }
                    &.slick-next {
                        right: 17px;
                    }
                    &::before,
                    &::after {
                        font-size: $s_btn_size;
                        color: $point_color2;
                    }
                }
                // スライダーのドットインジゲーター
                .slick-dots {
                    bottom: -40px;
                }

                .home_blog_item {

                    a{
                        width: 98%;
                    }
                    a, img {
                        display: block;
                        border-radius: 2%;
                    }
                }
            }
        }
    }
}
