@import "header";
@import "footer";

.cube {
    width: 32%;
    box-sizing: border-box;
}
.cube_img {
    width: 100%;
}
.over_text {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
        background-color: $forth_bgcolor;
        color: $forth_color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        opacity: 0;
        p {
            font-size: $fs_s;
            line-height: $fs_s + 5px;
        }
    }
}

.h_btn{
    margin: 0 auto 80px !important;
    background-color: $point_color8 !important;
    &::before,
    &::after {
        background-color: $point_color8 !important;
        box-shadow: inset 0 0 $btn_w1/2 5px $point_color1, inset 0 0 $btn_w1/4 1px $point_color1, inset 0 0 $btn_w1/8 0px $point_color1;
    }
}


.main {
    // about
    .home_about {
        .home_about_wrap {
            .h_about {
                margin-bottom: $space_80;
                display: flex;
                justify-content: center;
                gap: 5%;
                .h_img {
                    width: 25%;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        border: 3px solid $point_color4;
                        position: absolute;
                        bottom: -22px;
                        z-index: -1;
                    }
                    img {
                        width: 100%;
                    }
                    &.h_img1{
                        box-shadow: -1px -0.5px 5px 0.5px $point_color3;
                        &::before{
                            left: -25px;
                        }
                    }
                    &.h_img2 {
                        box-shadow: 1px 0.5px 5px 0.5px $point_color3;
                        &::before {
                            right: -25px;
                        }
                    }
                }
                p {
                    width: 50%;
                    font-size: $fs_m;
                }
            }
            .h_about2 {
                flex-direction: row-reverse;
            }

        }
    }

    // works
    .home_works {
        background-image: url(../img/back4.png);
        // background-color: $third_bgcolor;
        .home_work_items {
            margin: 0 auto $space_50;
            padding: 10px 50px;
            display: flex;
            flex-wrap: wrap;
            .home_work_item {
                width: 32%;
                margin-bottom: min(24px, 2vw);
                @include middle {
                    width: 31%;
                    margin-bottom: min(27px, 3vw);
                }
                &:nth-child(3n),
                &:nth-child(3n-1) {
                    margin-left: 2%;
                    @include middle {
                        margin-left: 3%;
                    }
                }
            }
        }
    }


    // blog
    .home_blog {
        .home_blog_wrap {
            max-width: 100%;
            .home_blog {
                margin: 0 auto $space_150;
                position: relative;
                // スライダーボタン
                .slick-arrow{
                    position: absolute;
                    z-index: 1;
                    &.slick-prev {
                        left: 3px;
                    }
                    &.slick-next {
                        right: 17px;
                    }
                    &::before,
                    &::after {
                        font-size: $s_btn_size;
                        color: $point_color2;
                    }
                }
                // スライダーのドットインジゲーター
                .slick-dots {
                    bottom: -40px;
                }

                .home_blog_item {

                    a{
                        width: 98%;
                    }
                    a, img {
                        display: block;
                        border-radius: 2%;
                    }
                }
            }
        }
    }
}
