@import "header";
@import "footer";
@import "page_nav";


.main {
    .works_section {
        margin-bottom: 22vw;
    }
    .works_wrap {
        padding: 0 2em;
        @include small {
            padding: 0 1em;
        }

        .author {
            display: flex;
            justify-content: right;
            align-items: baseline;

            @include small {
                display: block;
                text-align: right;
            }

            a {
                margin-left: 1em;
                padding: 0.5em;
                border-radius: 3px;
                display: inline-block;
                background-color: #555;
                color: #ddd;
                opacity: .6;
                cursor: pointer;
                -o-transition: .3s all;
                -moz-transition: .3s all;
                -webkit-transition: .3s all;
                transition: .3s all;

                &:hover {
                    opacity: 0.8;
                }

                @include small {
                    margin-left: .2em;
                }
            }
        }

        .works {
            margin:50px auto 90px;
            display: flex;
            flex-wrap: wrap;
            @include middle {
                max-width: 900px;
                margin: 50px auto 80px;
            }
            .work{
                width: 30%;
                margin-bottom: min(60px, 5vw);
                padding: 1%;
                position: relative;
                box-sizing: border-box;
                @include middle {
                    width: 48%;
                    margin-bottom: min(75px, 8vw);
                }
                @include small {
                    width: 95%;
                    margin: 0 auto min(90px, 23vw) !important;
                }
                .w_title {
                    margin-bottom: 1em;
                    border-bottom: 2px solid #b6f9ee;
                    font-size: $fs_l - 1;
                    @include small {
                        font-size: $fs_l;
                    }
                }
                &:nth-child(3n-1),
                &:nth-child(3n) {
                    margin-left: 5%;
                    @include middle {
                        margin-left: 0;
                    }
                    @include small {
                        margin-left: 0;
                    }
                }
                &:nth-child(2n) {
                    @include middle {
                        margin-left: 4%;
                    }
                }
                .w_img_wrap {
                    max-width: 500px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img {
                        height: 100%;
                    }
                }
                .contents {
                    margin-top: 1.5em;
                    line-height: 1.3em;
                    @include small {
                        max-width: 600px;
                        margin: 1.5em auto 0;
                        font-size: $fs_s;
                    }
                    p:not(:first-child) {
                        margin-top: .6em;
                    }
                    .skill {
                        span {
                            display: block;
                            margin-left: 1em;
                        }
                    }
                    .description {
                        max-height: 7em;
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 2.5px;
                            background-color: $point_color2;
                            box-shadow: inset 0 0 3px $point_color3;
                        }
                        &::-webkit-scrollbar-track {
                            background-color: $point_color2;
                        }
                    }
                    a {
                        display: block;
                        margin-top: .5em;
                        color: $point_color3;
                        @include small {
                            margin-top: 1em;
                        }
                    }
                    .blog_etc {
                        display: flex;
                        justify-content: end;
                        position: absolute;
                        right: 2em;
                        bottom: -1.5em;
                        .auth_btn {
                            margin-left: 1em;
                            color: $point_color3;
                            -o-transition: .3s all;
                            -moz-transition: .3s all;
                            -webkit-transition: .3s all;
                            transition: .3s all;
                            cursor: pointer;
                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                }
            }
        }
    }
}
